

@keyframes taille-description {
    0% {
        width: 70%;
    }
    100% {
        width: 50%; /*60%*/
    }
}
@keyframes prix {
    0% {
        transform: translateX();
    }
    100% {
        
        transform: translateX(-50px); 
    }
};

@keyframes check-panier-bloc {
    0% {
        transform: scaleX(0);
        
    }
    100% {
        transform: scaleX(1);
       
    }
};
@keyframes check-panier {
    0% {
        transform: rotate();
        
    }
    100% {
        transform: rotate(1turn);
    }
}